/* styles.css */

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

*/ * {
  margin: 0;
}

*/ body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

*/ img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

*/ input,
button,
textarea,
select {
  font: inherit;
}

*/ p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* MAIN APP HERE */
body {
  display: flex;
}

/* Main Todo Container */
.todo-container {
  width: 70vw;
  min-height: 100vh;
  background-color: red;
}

.todo-item__container {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr 1fr 1fr auto;
  gap: 1rem;
  align-items: center;
  background-color: blue;
}

.todo-item__title {
}

.todo-item__description {
}

.todo-item__duedate {
}

.todo-item__priority {
}

.todo-item__status {
}

.todo-item__btndelete {
}

/* Sidebar Projects List */
.projects-list {
  width: 30vw;
  min-height: 100vh;
  background-color: yellow;
}

.projects-list--h1 {
}
